* {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: normal;
        
}

header{
    background-color: white;
    height: 90px;
    width: 100%;
    padding-left: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: static;
}

.nav-logo{
    margin-left: 2%;
    display: flex;
    height: 80px;
    width: 600px;
    align-items: center;
    transition: all .5s;
}

.nav-logo img{
    height: 60px;
    width: 60px;
}

.nav-logo h2{
    padding-left: 2%;
    font-size: 30px;
    color: rgb(81, 21, 82);
    /*color: rgb(43, 43, 116);*/
    font-weight: bold;
}

nav ul{
    /*float: right;*/
    margin-right: 20px;
}

nav ul li{
    display: inline;
    justify-content: center;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a{
    color: rgb(81, 21, 82);
    font-size: 18px;
    font-weight: bold;
    transition: all .5s;
}

.nav-logo:hover{
    transform: scale(1.1);
}

.active1:hover{
    font-size: 20px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

header nav ul li a:hover{
    transform: scale(1.1);
}

#check{
    display: none;
}

/* ======= OBJETIVO PAGINA ========= */
.obj-pagina{
    background-color: rgb(43, 43, 116);
    height: 100vh;
}
/* ================================= */
/* ======= BOTON DE WHATSAPP ======= */
.button-wpp{
    position: fixed;
    right: 2%;
    bottom: 2%;
    height: 70px;
    width: 70px;
    transition: all .3s;
}

.button-wpp a img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}
.button-wpp:hover{
    transform: scale(1.15);
}
/* ================================= */
/* ======= INTRO EMPRESA =========== */
.intro-empresa{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.intro-empresa img{
    height: 100%;
    width: 50%;
    pointer-events: none;
}
.parrafo-intro-empresa{
    margin: 4%;
    color: rgb(81, 21, 82);
    font-size: 80px;
    text-align: center;
}
/* ================================= */
/* ======= DISENO WEB ============== */
.diseno-web{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 21, 82);
}
.diseno-web img{
    height: 100%;
    width: 50%;
}
.parrafo-diseno-web{
    color: white;
    font-size: 100px;
    text-align: center;
}
/* ================================= */
/* ======= DISENO WEB 2 ============ */
.diseno-web-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.diseno-web-2 img{
    height: 100%;
    width: 50%;
    pointer-events: none;
}
.parrafo-diseno-web-2{
    margin: 4%;
    color: rgb(81, 21, 82);
    font-size: 100px;
    text-align: center;
}
/* ================================= */
@media (max-width: 1052px){
    .parrafo-diseno-web{
        width: 50%;
        font-weight: bold;
        font-size: 3.5rem;
        text-align: center;
    }
    .parrafo-diseno-web-2{
        width: 50%;
        font-weight: bold;
        color: rgb(81, 21, 82);;
        font-size: 3.5rem;
        text-align: center;
    }
    .nav-logo img{
        height: 70px;
        width: 70px;
    }
    .nav-logo h2{
        color: rgb(81, 21, 82);;
        font-weight: bold;
        font-size: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    /* HEADER */
    header{
        height: 55px;
        /*position: fixed;*/
    }
    
    .nav-logo{
        height: 40px;
        width: 300px;
    }
    
    .nav-logo img{
        height: 40px;
        width: 40px;
    }
    .intro-empresa{
        height: auto;
        padding-top: 4%;
        padding-bottom: 4%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .intro-empresa img{
        height: 100%;
        width: 80vw;
    }
    .parrafo-intro-empresa{
        margin: 0;
        width: 100%;
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
    }
    .diseno-web{
        height: auto;
        padding-top: 4%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .diseno-web img{
        height: 100%;
        width: 100vw;
    }
    .parrafo-diseno-web{
        width: 80%;
        margin: 4%;
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
    }
    .diseno-web-2{
        height: auto;
        padding-top: 4%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .diseno-web-2 img{
        height: 100%;
        width: 100vw;
    }
    .parrafo-diseno-web-2{
        width: 80%;
        margin: 4%;
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
    }
    .checkbtn{
        display: block;
    }
    ul{
        background-color: rgb(81, 21, 82);
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 55px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        padding-top: 30px;
        margin: -1px 0;
        height: 90px;
        border-style: solid;
        border-color: white;
        display: block;
        line-height: 30px;
    }
    nav ul li a{
        top: 10%;
        font-size: 20px;
    }
    .active1:hover{
        background-color: none;
        color: #9896bb;
        font-size: 28px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}