* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

footer{
    background-color: #7A306C;
}

.boton-wpp{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 4.5rem;
    width: 4.5rem;
}
.boton-wpp:hover{
    height: 5rem;
    width: 5rem;
}

.nav{
    /*background-color: #B2aa8e;*/
    /*background-color: #0C1b33;*/
    background-color: #7A306C;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1;
}
.box-logo-nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-nav{
    height: 3rem;
    width: 3rem;
}
.lista{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.submenu-productos{
    list-style-type: none;

    position: absolute;
    display: none;
}
.item-lista{
    display: inline-block;
}
.item-lista:hover{
    background-color: pink;
}
.item-lista:hover .submenu-productos{
    display: block;
}