* {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: normal;
        
}

header{
    background-color: rgb(42, 70, 132);
    height: 90px;
    width: 100%;
    padding-left: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: static;
}

.nav-logo{
    display: flex;
    height: 80px;
    width: 300px;
    align-items: center;
    transition: all .5s;
}

.nav-logo img{
    height: 80px;
    width: 80px;
}

.nav-logo h2{
    padding-left: 5%;
    color: white;
    font-weight: bold;
}

nav ul{
    /*float: right;*/
    margin-right: 20px;
}

nav ul li{
    display: inline;
    justify-content: center;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: all .5s;
}

.nav-logo:hover{
    transform: scale(1.1);
}

.active1:hover{
    font-size: 20px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

header nav ul li a:hover{
    transform: scale(1.1);
}

#check{
    display: none;
}

/* ======= BOTON DE WHATSAPP ======= */
.button-wpp{
    position: fixed;
    right: 2%;
    bottom: 2%;
    height: 60px;
    width: 60px;
    transition: all .3s;
}

.button-wpp a img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}
.button-wpp:hover{
    transform: scale(1.15);
}
/* ================================= */
/* ======= DISENO WEB ============== */
.diseno-web{
    display: flex;
    align-items: center;
    justify-content: center;
}
.diseno-web img{
    height: 100%;
    width: 50%;
}
.parrafo-diseno-web{
    color: rgb(43, 43, 116);
    font-size: 100px;
    text-align: center;
}
/* ================================= */
/* ======= DISENO WEB ============== */
.diseno-web-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 116);;
}
.diseno-web-2 img{
    height: 100%;
    width: 50%;
}
.parrafo-diseno-web-2{
    color: white;
    font-size: 100px;
    text-align: center;
}
/* ================================= */
@media (max-width: 952px){
    .nav-logo img{
        height: 70px;
        width: 70px;
    }
    .nav-logo h2{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .parrafo-diseno-web{
        color: rgb(43, 43, 116);
        font-size: 1.7rem;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .active1:hover{
        background-color: none;
        color: #70b1e3;
        font-size: 28px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}